<section class="social-share">
  <h4 class="title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>

  <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}%20{{ site.url }}{{ base_path }}{{ page.url }}" 
     class="btn btn--twitter" 
     title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Twitter" 
     target="_blank" rel="noopener noreferrer">
     <i class="fab fa-fw fa-twitter" aria-hidden="true"></i><span> Twitter</span>
  </a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ base_path }}{{ page.url }}" 
     class="btn btn--linkedin" 
     title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn" 
     target="_blank" rel="noopener noreferrer">
     <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span>
  </a>
</section>
